@model ControleFinanceiro.Models.ViewModels.Expense.DetailsExpenseFixedFormViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <title>DownloadPdfExpenseFixed</title>
</head>

<body>
    <h1 class="text-center">Controle Financeiro</h1>
    <h3 class="text-center">Minhas despesas Fixas</h3>
    <h3 class="pl-3">Total das despesas: @Model.DespesaFixa.Sum(x=>x.Valor).ToString("N2")</h3>
    <div class="row ml-3">
        <h3>Total por categoria</h3>
        <dl class="row">
            @foreach (var item in Model.TotalPorCategoria)
            {
                if (item.Total > 0)
                {
                    <dt class="col-sm-3">@Html.DisplayFor(modelItem => item.Categorias.NomeCategoria)</dt>
                    <dd class="col-sm-1">@Html.DisplayFor(modelItem => item.Total)</dd>

                }
            }
        </dl>
    </div>

    <hr />
    <table class="table p-3">
        <thead class="bg bg-warning">
            <tr>
                <th>Total por categoria</th>
                <th>Descrição</th>
                <th>Valor</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.DespesaFixa)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Categoria.NomeCategoria)</td>
                    <td>@Html.DisplayFor(modelItem => item.Descricao)</td>
                    <td>@Html.DisplayFor(modelItem => item.Valor)</td>
                </tr>
            }
        </tbody>
    </table>
    
</body>
</html>
